* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  word-break: break-word;

  font-family: Arial, Helvetica, sans-serif;
}

html {
  height: 100%;

  background-color: var(--background-color);
}

body {
  height: 100%;
}

#app {
  height: 100%;
}
